@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #e6e6ff;
  overflow-x: hidden; 
  font-family: "Montserrat", serif;
}

.animatedButton{
  
}

.ql-toolbar.ql-snow,.ql-container.ql-snow{
  border:none !important
}
.ql-editor{
  border:none !important
}